body {
    background-color: #2f2f2f;
    min-width: 240px;
    min-height: 400px;
}

.site {
    position: relative;
    display: table-cell;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    transition: background-color 0.25s;
}

.site:hover {
    background-color: #3f3f3f;
  }

img {
    width: 60px;
    max-height: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}